   <div class="row">
        <div class="span7">

          <% if @settings.camera == true %>
          <p class="lead">
            <i class="icon-facetime-video icon-large"></i> Live Stream of Printing Process
            <img src="<%= @settings.camera_link %>video" alt="Typewriter Video feed"/><p>If no video appears above, you are using an unsupported browser. Tested browsers: <a href="http://www.firefox.com">Mozilla Firefox</a>, <a href="http://www.google.com/chrome">Google Chrome</a></p>
          <% else %>
            <iframe width="100%" height="400" src="http://www.youtube.com/embed/52-wXAhtDbM" frameborder="0" allowfullscreen></iframe>
            <p class="lead">Demo Video. Live Stream only avaiable during hours of operation.</p>
            <p class="lead">
              <i class="icon-facetime-video icon-large"></i> This is what you should see during hours of operation.
            <iframe width="100%" height="400" src="http://www.youtube.com/embed/3T5DqVbl8Cg" frameborder="0" allowfullscreen></iframe>


          <% end %>

    
          <hr class="featurette-divider">

          <h3>Recent and Upcoming Jobs, so far printed <%= Job.count %> tweets</h3>
          <%= link_to refresh_jobs_path, :class => 'btn btn-success pull-right' do %>
              <i class="icon-cloud-download"></i> Print New Tweets 
          <% end %>
                      <p>Jobs are pulled from twitter every 10 minutes.<br/> If you can't wait, hit the "Print New Tweets" button after you tweeted.</p>
          <table class="table table-striped">
            <tbody>
              <% @jobs.each do |job| %>
                <tr>
                  <td>

                        <%= image_tag job.profile_image_url, :class =>"img-circle", :width =>"100" %> 

                  </td>
                  <td>
                  
                    <% if job.status_code == 'Lined Up' %>
                    <span class="label label-warning pull-right"><%= job.status_code %> since <%= time_ago_in_words(job.created_at) %></span>
                    
                    <% else %>
                      <span class="label label-success pull-right"><%= job.status_code %> <%= time_ago_in_words(job.updated_at) %> ago</span>
                    <% end %>
                    
                    <strong><i class="icon-twitter"></i>  <%= link_to "@#{job.owner}", "http://www.twitter.com/#{job.owner}" %></strong><br/> <%=raw Rinku.auto_link(job.content, mode=:all) %>
                  </td>
               
            
                </tr>
              <% end %>
            </tbody>
          </table>





        </div><!-- /.span4 -->
       
          <div class="span5">

          <% if @settings.maintanance == true %>
          <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4><i class="icon-ambulance icon-large"></i> Printing Services Temporarily Offline!</h4>
            <p><%= @settings.status %></p>
            
          </div>

          <% else %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4><i class="icon-bullhorn icon-large"></i> Printing Services Online!</h4>
            <p>Feel free to tweet now and we will print it right away!</p>
          </div>

          <% end %>

                  <p class="lead">
                    Getting your <i class="icon-twitter icon-large"></i> tweets printed is easy:</p><p class="lead"><strong>1.</strong> 
                      <a href="https://twitter.com/intent/tweet?screen_name=lepetiteprinter&text=this%20cool%20typewriter%20will%20print%20this%20tweet%3A%20http%3A%2F%2Fwww.lepetiteprintshop.com" class="twitter-mention-button" data-size="large" data-related="mschwanzer,lepetiteprinter">Mention @lepetiteprinter</a>

                      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                

                    <p  class="lead"><strong>2.</strong> Hit <%= link_to refresh_jobs_path, :class => 'btn btn-success' do %>
              <i class="icon-cloud-download"></i> Print New Tweets 
          <% end %></p><p  class="lead"><strong>3.</strong> Watch it being printed on the <i class="icon-facetime-video icon-large"></i> live stream. </p>



                  </p>


                    <p>Feel free to checkout <%= link_to "some videos of me typing", "http://www.youtube.com/watch?v=3T5DqVbl8Cg&feature=share&list=PL0BF6SJ3yFfSUuW_tw3MK73mTsZYbt21W" %> and the <%= link_to "blog posts about me", "http://michael.schwanzer.info/blog/?s=typewriter" %>.</p>
               <hr/>

               <!-- Place this tag where you want the +1 button to render. -->
               <a href="https://twitter.com/lepetiteprinter" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @lepetiteprinter</a>
               <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

               <a href="https://twitter.com/share" class="twitter-share-button" data-via="lepetiteprinter" data-size="large" data-related="mschwanzer" data-hashtags="printme">Tweet</a>
               <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


               <div class="g-plusone" data-annotation="inline" data-width="300"></div>

               <!-- Place this tag after the last +1 button tag. -->
               <script type="text/javascript">
                 (function() {
                   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                   po.src = 'https://apis.google.com/js/plusone.js';
                   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                 })();
               </script>
               
            <div class="fb-like" data-href="http://lepetiteprintshop.com" data-send="true" data-width="450" data-show-faces="true"></div>
          
          <hr/>

          <h4><i class="icon-print icon-large"></i> Printing Services Provided</h4>
          <ul class="icons">
            <li><i class="icon-ok"></i> Input via Twitter, Email</li>
            <li><i class="icon-ok"></i> Black / Red Ribbon Colour</li>
            <li><i class="icon-ok"></i> Simple ASCII Images</li>
            <li><i class="icon-ok"></i> Business / Personal Letters, Custom Greeting Cards</li>
            <li><i class="icon-ok"></i> Rent Printer for your Event or Promotion. Contact Michael.</li>
          </ul>

          <hr/>

          <div class="media">
            <h4>Who is running this print shop?</h4>
            <a class="pull-left" href="#">
              <img src="https://twimg0-a.akamaihd.net/profile_images/1436288805/Screen_shot_2011-07-11_at_12.29.32_AM.png" class="img-circle media-object" width="100">
            </a>
            <div class="media-body">
          <p>Michael Schwanzer (<a href="http://www.twitter.com/mschwanzer">@mschwanzer</a>) is a strategic thinker who likes to apply his engineering, management and web skills to optimize processes and create new business opportunities.</p>
          <p>
            <%= link_to 'http://www.twitter.com/mschwanzer' do %>
                <i class="icon-twitter-sign icon-2x"></i>
            <% end %>
            <%= link_to 'http://www.linkedin.com/in/mschwanzer' do %>
                <i class="icon-linkedin-sign icon-2x"></i>
            <% end %> 

            <%= link_to 'http://www.facebook.com/mschwanzer' do %>
                <i class="icon-facebook-sign icon-2x"></i>
            <% end %> 

            <%= link_to 'http://www.github.com/mschwanzer' do %>
                <i class="icon-github-sign icon-2x"></i>
            <% end %> 

            <%= link_to 'https://plus.google.com/116247842016091212213' do %>
                <i class="icon-google-plus-sign icon-2x"></i>
            <% end %> 
            <%= link_to 'http://michael.schwanzer.info/blog' do %>
                <i class="icon-sign-blank icon-2x"></i> 
            <% end %>
          </p>
            </div>
          </div>

<hr class="featurette-divider">
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'lepetiteprintshop'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>



        </div><!-- /.span4 -->
      </div><!-- /.row -->